blinker
colorful
executing
jinja2
gymnasium
hydra-core
icecream
imageio
lightning
matplotlib
meshio
meshpy
numpy
omegaconf
open3d
opencv_python
pandas
plotly
plyfile==1.1
pynvml
lightning
pyglet==2.1.3
pyvista
rich
rl_games
scikit_image
scikit_learn
scipy
seaborn
setuptools
tensorboardX
tetgen
torch==2.5.1
torchmetrics
torchvision
tqdm
trimesh
vtk
wandb
yourdfpy
zarr
scikit-sparse
